
li {
  display: inline; 
  font-size: 110%;
}

body {
  background-color: pink;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.inline-block {
  text-align: center;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
  

footer {
  text-align: center;
  margin-bottom: auto;
  font-size: large;
}